{% extends "base.html.twig" %}

{% block title %} Editer un gite  {% endblock %}

{% block body %}



<div class="row">
		<h1>Editer un Gite</h1>
</div>

{{ include( "admin/_form.html.twig", {formGite: formGite, button:"Editer"}) }}
	


	

{% endblock %}