{% extends "base.html.twig" %}

{% block title %}Creation de Gite
{% endblock %}

{% block body %}

	<div class="row">
		<h1>Ajouter un Gite PROGICA</h1>
	</div>

	{{ include("admin/_form.html.twig", {formGite: formGite, button:"Ajouter"}) }}






{% endblock %}
