body {
    background-color: rgba(19, 18, 18, 0.068);
}

#contactForm {
    display: none ;
}

#searchForm {
    display: block;
    position: sticky;
}

#Mail {
    font-size: 2rem;
    text-align: center;
}

#addGite {
    font-size: 2rem;
    text-align: center;
}


.ImgNotFound {
    width: 416px;
	height: 262px;
}

.card-img-top {
    width: 280px;
    height: 230px;
}