body {
    background-color: rgba(61, 58, 58, 0.287);
    
}

#contactForm {
    display: none ;
}

#searchForm {
    display: block;
    position: sticky;
}
/* Pop up MailSend Success*/
#Mail {
    font-size: 2rem;
    text-align: center;
}
/* Pop up AddGite Success */
#addGite {
    font-size: 2rem;
    text-align: center;
}

.ImgNotFound {
    width: 416px;
	height: 262px;
}

.card-img-top {
    width: 280px;
    height: 230px;
}

