#homeTitle {
    width: 27rem;
    font-size: 50px;
    border: thick double #6f787c;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#btnAll {
    
    right: 30px;
    position: fixed;
    border: 3px black solid;
    background-color: cadetblue;
    padding: 20px;
    font-size: 30px;
    color: black;
   
   
}